# Python

## Anaconda Distribution

---
This is a jupyter notebook. Jupyter notebooks contain both computer code (e.g. python) and rich text elements (paragraph, equations, figures, links, etcâ€¦). Notebook documents are both human-readable documents containing the analysis description and the results (figures, tables, etc..) as well as executable documents which can be run to perform data analysis.

---

- ### Numbers and basic operations

In [26]:
4+4

8

In [2]:
63-7*8

7

In [3]:
(82-6*7)/4

10.0

In [4]:
8/5

1.6

Division (/) returns a float (even if the two numbers are integers).

In [5]:
14//3    # the operator '//' discards the fractional part

4

In [6]:
14%3    # the operator '%' returns the division remainder

2

In [7]:
5**3    # 5 to the power of 3

125

- ### Variables

In [8]:
x=5
y=7
x*y

35

In [15]:
6+18.0

24.0

In [16]:
x+_      # the last results is stored in variable _

29.0

In [5]:
r=1e-10
r

1e-10

In [17]:
z=3*y; 5*2     # multiple statements in a single line are separated by ;

10

In [18]:
z

21

In [19]:
w=2+3j     # complex numbers
q=5+9j
w+q

(7+12j)

In [20]:
w*q

(-17+33j)

In [21]:
q.real

5.0

In [22]:
w.imag

3.0

In [23]:
q.conjugate()

(5-9j)

In [24]:
x

5

In [25]:
del x      # delete the reference to a number object (variable)
x

NameError: name 'x' is not defined

In [26]:
print(y)

7

- ### Strings

In [27]:
message="This is a string!"

In [28]:
print(message)

This is a string!

In [29]:
message='This is a string!'
print(message)

This is a string!

In [27]:
message=-7       # variables can change easily type
print(message)

-7

** Double (") and signle (') quotes **

In [30]:
message='I don't think that this will work.'

SyntaxError: invalid syntax (<ipython-input-30-476c038b06c4>, line 1)

In [32]:
message="I don't think that this will work."
print(message)

I don't think that this will work.

In [33]:
message='''I can write single ' and double " without a problem '''
print(message)

I can write single ' and double " without a problem

In [34]:
message="I can still write single ' and double \" without a problem "
print(message)
message='I can still write single \' and double " without a problem '
print(message)

I can still write single ' and double " without a problem
I can still write single ' and double " without a problem

** Embedding values in strings **

In [35]:
perc=60
message='He got %s%% of the votes.'
print(message % perc)

He got 60% of the votes.

In [36]:
print('y=',y)
print('y=',y,', z=',z)

y= 7
y= 7 , z= 21

In [37]:
print('The variables y and z have the values %s and %s, respectively.' % (y,z))

The variables y and z have the values 7 and 21, respectively.

In [38]:
print('The variables y and z have the values %d and %d, respectively.' % (y,z))

The variables y and z have the values 7 and 21, respectively.

In [39]:
print('The variables y and z have the values %5d and %d, respectively.' % (y,z))

The variables y and z have the values     7 and 21, respectively.

In [40]:
x=19
y=37.259

In [41]:
print('x: %d, y: %5.2f' % (x,y))     # %width.precisionf
print('x: %d, y: %5.4f' % (x,y))
print('x: %d, y: %10.2f' % (x,y))

x: 19, y: 37.26
x: 19, y: 37.2590
x: 19, y:      37.26

In [42]:
a = 9.3188
b = 543
c = "Twelve"

print("{0:f} {1:d} {2:s}".format(a,b,c))
#notice the difference:
print("Flux={1:3.1f} Space={0:d} Friday={2:s}".format(b,a,c))

9.318800 543 Twelve
Flux=9.3 Space=543 Friday=Twelve

** String operations **

In [58]:
a='Python'
b=10*a     # * repetition
print(b)

PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [60]:
c='Language'
a+' '+c      # + concatenate

'Python Language'

In [44]:
a[0]

'P'

In [45]:
a[2]

't'

In [46]:
a[5]

'n'

In [47]:
a[-2]

'o'

In [48]:
a[6]

IndexError: string index out of range

In [49]:
a[-7]

IndexError: string index out of range

In [50]:
a[0:2]    # from 0 to 2 (2 not included)

'Py'

In [51]:
a[:2]     # 2 is excluded

'Py'

In [52]:
a[3:]     # 3 is included

'hon'

*strange behavior*

In [54]:
a[3:22]

'hon'

In [56]:
'C'+a[1:6]

'Cython'

In [57]:
len(a)

6

- ### Data structures (Lists, Tupples, Dictionaries/Maps)

**Lists**

In [9]:
primes=[2,3,5,7,11]
primes

[2, 3, 5, 7, 11]

In [79]:
primes[0]

2

In [10]:
primes[5]=13

IndexError: list assignment index out of range

In [80]:
primes[4]

11

In [115]:
primes[2:4]

[5, 7]

In [89]:
moreprimes=primes+[13,15,19]
moreprimes

[2, 3, 5, 7, 11, 13, 15, 19]

In [90]:
moreprimes[6]=17      # lists are mutable (strings are not)
moreprimes

[2, 3, 5, 7, 11, 13, 17, 19]

In [91]:
moreprimes.append(23)
moreprimes

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [92]:
len(moreprimes)

9

In [93]:
moreprimes.append('twenty nine')     # The list elements can be of different type
moreprimes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 'twenty nine']

In [95]:
odd=[1,3,5,7,9]
even=[0,2,4,6,8]
odev=[odd,even]     #lists within lists
odev

[[1, 3, 5, 7, 9], [0, 2, 4, 6, 8]]

In [96]:
odev[0]

[1, 3, 5, 7, 9]

In [98]:
odev[0][2]

5

In [101]:
odd[0:5]

[1, 3, 5, 7, 9]

In [102]:
odd[0:5:2]

[1, 5, 9]

In [103]:
del moreprimes[0]
moreprimes

[3, 5, 7, 11, 13, 17, 19, 23, 'twenty nine']

In [105]:
moreprimes.insert(0,2)      # inserts 2 before position 0
moreprimes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 'twenty nine']

In [106]:
odd.reverse()

In [107]:
odd

[9, 7, 5, 3, 1]

In [108]:
numbers=[0,1,5,7,0,5,0,9]
numbers.count(0)

3

In [143]:
numbersnew=[0,5,0,4,3,0,5,1]
numbersnew

[0, 5, 0, 4, 3, 0, 5, 1]

In [144]:
numbersnew.index(5)

1

In [145]:
numbersnew.index(5,3)          # start searching from position 3

6

**Tuples**

In [117]:
nummixed=(1,'two',3,'four',5,'six',7)          # () and not []
nummixed

(1, 'two', 3, 'four', 5, 'six', 7)

In [120]:
nummixed[:-1]

(1, 'two', 3, 'four', 5, 'six')

The main difference between tuples and lists is that tuples are immutable whereas lists are mutable. In other words, lists can be changed, while tuples cannot.

In [121]:
nummixed[2]='three'

TypeError: 'tuple' object does not support item assignment

*But*...

In [127]:
numtup=(odd,even)
numtup

([9, 7, 4, 3, 1], [0, 2, 4, 6, 8])

In [128]:
numtup[0][2]='four'
numtup

([9, 7, 'four', 3, 1], [0, 2, 4, 6, 8])

In [129]:
numtup[0]='first'

TypeError: 'tuple' object does not support item assignment

**Dictionaries/Maps**

In [15]:
ages={'Mary':25, 'John': 20, 'Bill': 40, 'Emma': 30}       
# {}, each element has a key and a corresponding value
ages

{'Mary': 25, 'John': 20, 'Bill': 40, 'Emma': 30}

In [16]:
ages['Bill']

40

In [17]:
ages[1]        # no meaning

KeyError: 1

In [18]:
ages+ages      # no meaning again

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [19]:
ages['John']=22
ages

{'Mary': 25, 'John': 22, 'Bill': 40, 'Emma': 30}

In [20]:
len(ages)

4

In [21]:
ages['George']=41

In [22]:
ages

{'Mary': 25, 'John': 22, 'Bill': 40, 'Emma': 30, 'George': 41}

In [23]:
names=list(ages)

In [24]:
names

['Mary', 'John', 'Bill', 'Emma', 'George']

In [25]:
del ages['Bill']
ages

{'Mary': 25, 'John': 22, 'Emma': 30, 'George': 41}